<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JyAnalytics" version="1.0.10" targetFramework="wpa81" />
  <package id="JyCloud" version="1.0.5" targetFramework="wpa81" />
  <package id="JyFeedBack" version="1.0.2.5" targetFramework="wpa81" />
  <package id="JyUpdateAndBulletinSDK" version="1.0.10" targetFramework="wpa81" />
  <package id="JyUserInfoSdk" version="1.1.5" targetFramework="wpa81" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="wpa81" />
  <package id="VungleSDK" version="5.1.0" targetFramework="wpa81" />
</packages>